  <mat-tab-group [selectedIndex]="selected.value"
               (selectedIndexChange)="selected.setValue($event)">
  @for (tab of tabs; track tab; let index = $index) {
    <mat-tab [label]="tab">
      <ng-template mat-tab-label>
				<div class="col" style="margin-left: 20px;">{{tabs[index]}}</div>
				<button *ngIf="tabs[index]!== 'First'" style="color:black ; " mat-icon-button (click)="removeTab(index)">
        <mat-icon>close</mat-icon>
      </button>
    </ng-template>
    <div style="min-height: 100vh;">
      <!-- dynamic content section here -->
      <DataTable [displayedColumns]="dynamicColumns" [dataSourceData]="dynamicData"></DataTable>
    </div>
    </mat-tab>
  }
</mat-tab-group>